/* line 2, slider.scss */
slider, [slider] {
  display: inline-block;
  position: relative;
  height: 10px;
  width: 100%;
  margin: 25px 5px 20px 5px;
  vertical-align: middle;
}
/* line 10, slider.scss */
slider div, [slider] div {
  white-space: nowrap;
  position: absolute;
}
/* line 14, slider.scss */
slider div.bar, [slider] div.bar {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  background: #444;
  overflow: hidden;
}
/* line 21, slider.scss */
slider div.bar .selection, [slider] div.bar .selection {
  width: 0%;
  height: 100%;
  background: #13b6ff;
}
/* line 28, slider.scss */
slider div.handle, [slider] div.handle {
  position: absolute;
  height: 6px;
  width: 6px;
  top: -3px;
  cursor: pointer;
  border: 5px solid #eaeaea;
  background: #aeaeae;
  border-radius: 8px;
  -webkit-box-sizing: content-box !important;
  -moz-box-sizing: content-box !important;
  box-sizing: content-box !important;
  z-index: 941;
}

slider div.handle.low, [slider] div.handle.low, 
  slider div.handle.high, [slider] div.handle.high {
  height: 12px;
  width: 3px;
  top: -3px;
  border: 2px solid #eaeaea;
  background: #aeaeae;
  border-radius: 2px;
}

/* line 48, slider.scss */
slider div.handle:hover, [slider] div.handle:hover {
  background-color: #000;
}
/* line 53, slider.scss */
slider div.handle.active, [slider] div.handle.active {
  background-color: #f00;
}
/* line 58, slider.scss */
slider div.bubble, [slider] div.bubble {
  cursor: default;
  top: -22px;
  padding: 1px 3px 1px 3px;
  font-size: 0.7em;
  font-family: sans-serif;
}

slider div.bubble.value.low, [slider] div.bubble.value.low,
  slider div.bubble.value.high, [slider] div.bubble.value.high {
  top: 15px;
}

/* line 66, slider.scss */
slider div.bubble.active, [slider] div.bubble.active {
  display: inline-block;
}
/* line 70, slider.scss */
slider div.bubble.limit, [slider] div.bubble.limit {
  color: #777;
}
