* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
       -o-box-sizing: border-box;
          box-sizing: border-box;  
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  color: #EEE;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

#container {
  overflow: hidden;
  height: 100%;
}

#selectionMenu {
  width: 25%;
/*  min-width: 300px;*/
  height: 100%;
  padding: 0px;
  padding-top: 0px;
  background-color: #555;
  overflow: auto;
}

#selectionMenu h3 {
  margin-left: 10px;
}

#selectionMenu #trackables {
  padding: 0px 20px;
}

#selectionMenu .trackable {
  position: relative;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  line-height: 1.2;
}

#selectionMenu .trackable:hover {
  background: #0BB;
  cursor: pointer;
}

#selectionMenu .trackable:hover .date {
  color: #EEE;
}

#selectionMenu .trackable.selected {
  background: #099;
  cursor: pointer;
}

#selectionMenu .trackable.selected .date {
  color: #EEE;
}

#selectionMenu .trackable.selected:hover {
  background: #0BB;
  cursor: pointer;
}

#selectionMenu .trackable.disabled {
  color: #999;
}

#selectionMenu .trackable.disabled:hover {
  background: #555;
  cursor: default;
}

#selectionMenu .trackable.disabled:hover .date {
  color: #999;
}

#selectionMenu .trackable .date {
  float: right;
  margin-right: 20px;
  color: #999;
}

#selectionMenu input[type=checkbox] {
  position: relative;
  top: 2px;
  margin-top: 0px;
  margin-right: 10px;
}

#selectionMenu #season-selector {
  width: 100%;
  display: inline-block;
}

#selectionMenu #season-selector .season {
  cursor: pointer;
  float: left;
  margin: 0px;
  width: 33.333333333%;
  height: 50px;
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #777;
  color: #777;
  border-left: 0px;
  background-color: #333;
  box-sizing: border-box;
}

#selectionMenu #season-selector .active.season {
  background-color: #555;
  color: #EEE;
  border-bottom: none;
}

#mapCanvas {
  /*max-width: 800px;*/
  position: relative;
  width: 75%;
  height: 100%;
  float: right;
  background-color: #A06E91;
}

#mapmap {
  position: relative;
  width: 100%;
  height: 100%;
}

#map-controls {
  z-index: 999;
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 0;
  /*background-color: rgba(60, 0, 0, .40);*/
}

#map-controls .panel {
  position: relative;
  color: #EEE;
  z-index: 999;
  border-radius: 4px;
  background-color: rgba(85, 85, 85, .96);
}

#map-controls .panel h1 {
  font-size: 20px;
  margin-top: 0px;
}

#map-controls .time.panel {
  margin: 5px;
}

#map-controls .quarter-panel-container {
  width: 25%;
  float: left;
}

#map-controls .quarter.panel {
  height: 200px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

#map-controls .first.quarter.panel {
  margin-left: 5px;
}

#map-controls .quarter.panel .content {
  padding: 0px 10px;
}

#map-controls .quarter.panel .footer {
  width: 100%;
  position: absolute;
  bottom: 0px;
  margin-bottom: 10px;
  margin-left: -10px;
  padding: 0 10px;
}

#map-controls input[type=checkbox] {
  position: relative;
  top: 2px;
  margin-top: 0px;
  margin-right: 10px;
}

#map-controls span.label {
  cursor: pointer;
}

.slider-container {
  padding: 10px 40px 10px 25px;
}

.control-row {
  margin-bottom: 10px;
}

#data-modal {
  color: #000;
}

#data-modal table {
  color: #000;
}

#results-table {
  padding: 30px;
  color: #000;
  padding: 0px 100px;
}

#results-table table {
  color: #000;
}

.color-box {
  display: inline-block;
  float: right;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  border: 1px solid #000;
}

.load-indicator {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .75);
}

.load-image {
  position: relative;
  background-color: #FFF;
  margin: 0 auto;
  top: 50%;
  margin-top: -26px;
  width: 52px;
  height: 52px;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}


.myButton {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
  background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
  background-color:#77b55a;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #4b8f29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  font-weight:bold;
  padding:2px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
  background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
  background-color:#72b352;
}
.myButton:active {
  position:relative;
  top:1px;
}

.request-overlay {
  position: absolute;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  top: 0px;
  right: 0px;
  background-color: #FFF;
  z-index: 999;
  height: 100%;
  width: 0%;
  transition: all 1s ease;
}

.request-overlay.active {
  width: 75%;
  visibility: visible;
  overflow-y: auto;
}

.request-tab {
  position: absolute;
  cursor: pointer;
  right: 0px;
  top: 75px;
  width: 25px;
  height: 100px;
  z-index: 999;
  background-color: #333;
  color: #333;
  border: 1px solid #666;
  border-right: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: all 0.75s ease;
}

.request-tab:hover {
  right: 600px;
}

.request-tab:hover + .request-overlay {
  right: 0px;
}

.request-overlay:hover {
  right: 0px;
}

.request-overlay:hover ~ .request-tab {
  right: 600px;
}

.form-control[readonly] {
  cursor: default;
}

.label .glyphicon {
  top: 2px;
}