<div ng-controller='MapCtrl' style='height: 100%'>
  <div ng-if="makingRequest" class="load-indicator">
    <div class='load-image'>
      <img src='../img/ajax-loader.gif'>
    </div>
  </div>
  <div ng-if="requestFailed" class="load-indicator">
    <div class='request-error'>
      <h1>Request Failed</h1>
      <button class='btn btn-danger' ng-click='cancelTimeoutError()'>OK</button>
    </div>
  </div>
  <div id='mapmap'>
  </div>
  <div id='map-controls'>
    <div class='time panel'>
      <div class='slider-container'>
        <slider 
          floor="{{limits.min}}"
          ceiling="{{limits.max}}"
          ng-model-low="o.lower"
          ng-model-high="o.upper"
          ng-model-mid="o.mid"
          buffer="5"
          translate="dateFormatter"
          redraw="redraw"
          is-dirty="requestProgress.timeWindow">
        </slider>
      </div>
    </div>
    <div class='quarter-panel-container'>
      <div class='first quarter panel'>
        <h1>Area of Interest</h1>
        <div class='content'>
          <label>Centroid</label>
          {{centroid}}
        </div>
        <div class='footer'>
          <button class='btn btn-sm btn-default' ng-click='startDrawing()' ng-hide="polygonDrawn">
            <span class='glyphicon glyphicon-pencil'></span> Draw Polygon
          </button>
          <button class='btn btn-sm btn-warning' ng-click='removePolygon()' ng-hide="!polygonDrawn">
            <span class='glyphicon glyphicon-remove'></span> Remove Polygon
          </button>
          <button class='btn btn-sm btn-danger' ng-click='cancelDrawing()' ng-show='drawingPolygon'>
            <span class='glyphicon glyphicon-ban-circle'></span>
          </button>
        </div>
      </div>
    </div>
    <div class='quarter-panel-container'>
      <div class='quarter panel' style='z-index: 1010'>
        <h1>Search</h1>
        <div class='content'>
          <label>Keywords</label>
          <div>
            <span ng-repeat='keyword in keywords'>
              <span class='label label-info' ng-click='removeKeyword(keyword)'>
                <span class='glyphicon glyphicon-remove' aria-hidden='true'></span> {{keyword}}</span>
            </span>
          </div>
        </div>
        <div class='footer'>
          <div class="input-group">
            <input type="text" class="form-control input-sm" ng-model='keyword' placeholder='Enter keyword'>
            <div class="input-group-btn dropup" dropdown>
              <button type="button" class="btn btn-sm btn-default" ng-click="addKeyword(keyword)"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Add</button>
              <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle><span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li ng-repeat="keyword in keywordList">
                  <a ng-click="addKeyword(keyword)">{{keyword}}</a>
                </li>
              </ul>    
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='quarter-panel-container'>
      <div class='quarter panel'>
        <h1>Time Window</h1>
        <div class='content'>
          <span class='glyphicon glyphicon-unlocked'></span>
          <label>Lower Limit</label>
          <div class='input-group'>
            <span class='input-group-btn'>
              <button type="button" class="btn btn-sm btn-default" ng-click='nudgeLowerLimit(-15)'><span class='glyphicon glyphicon-minus' aria-hidden='true'></span></button>
            </span>
            <input type='text' class='form-control input-sm' value='{{dateTimeFormatter(o.lower)}}' readonly>
            <span class='input-group-btn'>
              <button type="button" class="btn btn-sm btn-default" ng-click="nudgeLowerLimit(15)"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></button>
            </span>
          </div><br>
          <label>Upper Limit</label>
          <div class='input-group'>
            <span class='input-group-btn'>
              <button type="button" class="btn btn-sm btn-default" ng-click="nudgeUpperLimit(-15)"><span class='glyphicon glyphicon-minus' aria-hidden='true'></span></button>
            </span>
            <input type='text' class='form-control input-sm' value='{{dateTimeFormatter(o.upper)}}' readonly>
            <span class='input-group-btn'>
              <button type="button" class="btn btn-sm btn-default" ng-click="nudgeUpperLimit(15)"><span class='glyphicon glyphicon-plus' aria-hidden='true'></span></button>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class='quarter-panel-container'>
      <div class='quarter panel'>
        <h1>Steps Completed</h1>
        <div class='content'>
          <div>
            <span class='glyphicon glyphicon-check' aria-hidden='true' ng-hide='!requestProgress.AOI'></span>
            <span class='glyphicon glyphicon-unchecked' aria-hidden='true' ng-hide='requestProgress.AOI'></span>
            Draw Area of Interest
          </div>
          <div>
            <span class='glyphicon glyphicon-check' aria-hidden='true' ng-hide='!requestProgress.keywords'></span>
            <span class='glyphicon glyphicon-unchecked' aria-hidden='true' ng-hide='requestProgress.keywords'></span>            
            Input Keywords
          </div>
          <div>
            <span class='glyphicon glyphicon-check' aria-hidden='true' ng-hide='!requestProgress.timeWindow'></span>
            <span class='glyphicon glyphicon-unchecked' aria-hidden='true' ng-hide='requestProgress.timeWindow'></span>            
            Select Time Window          
          </div>
        </div>
        <div class='footer'>
          <button class='btn btn-sm btn-success btn-block' ng-click='makeRequest()' ng-disabled="!requestProgress.AOI || !requestProgress.keywords || !requestProgress.timeWindow">
            <span class='glyphicon glyphicon-refresh' aria-hidden='true'></span> Request Data
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
