<div ng-controller='MapCtrl'>
  <div ng-if="makingRequest" class="load-indicator">
    <div class='load-image'>
      <img src='../img/ajax-loader.gif'>
    </div>
  </div>
  <div id='mapmap'>
  </div>
  <div id='map-controls'>
    <div class='time panel'>
      <div class='slider-container'>
        <slider 
          floor="{{limits.min}}"
          ceiling="{{limits.max}}"
          ng-model-low="o.lower"
          ng-model-high="o.upper"
          ng-model-mid="o.mid"
          buffer="5"
          translate="formatter"
          redraw="redraw">
        </slider>
      </div>
    </div>
    <div class='quarter-panel-container'>
      <div class='first quarter panel'>
        <h1>Area of Interest</h1>
        <p>Centroid</p>
        <p>Bounds</p>
        <div class='footer'>
          <button class='btn btn-sm btn-success' ng-click='startDrawing()'>
            <span class='glyphicon glyphicon-pencil'></span> Draw
          </button>
          <button class='btn btn-sm btn-success' ng-click='removePolygon()'>
            <span class='glyphicon glyphicon-remove'></span> Remove
          </button>
        </div>
      </div>
    </div>
    <div class='quarter-panel-container'>
      <div class='quarter panel'>
        <h1>Instrument</h1>
        <input class='form-control' ng-model='keyword' type='text'
        style='height: 30px; width: 125px; float: left'></input>
        <button class='btn btn-sm btn-success' ng-click=''>
          <span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Add
        </button>          
      </div>
    </div>
    <div class='quarter-panel-container'>
      <div class='quarter panel'>
        <h1>Time Window</h1>
        {{formatter(o.lower)}} to {{formatter(o.upper)}}        
      </div>
    </div>
    <div class='quarter-panel-container'>
      <div class='quarter panel'>
        <h1>Request Summary</h1>
        <div class='footer'>
          <button class='btn btn-md btn-success' ng-click='makeRequest()'>
            <span class='glyphicon glyphicon-refresh' aria-hidden='true'></span> Request Data
          </button>
        </div>
      </div>
    </div>
  </div>
</div>


<!--     <h2>Map Controls</h2>
    <div class='control-row'>
      <h4>Area of Interest</h4>
      <button class='btn btn-xs btn-success' ng-click='startDrawing()'>
        <span class='glyphicon glyphicon-pencil'></span> Draw
      </button>
      <button class='btn btn-xs btn-success' ng-click='removePolygon()'>
        <span class='glyphicon glyphicon-remove'></span> Remove
      </button>
    </div>
    <div class='control-row'>
      <h4>Date Range</h4>
      <b>{{formatter(o.lower)}}</b> to <b>{{formatter(o.upper)}}</b>
      <div class='slider-container'>
        <slider 
          floor="{{limits.min}}"
          ceiling="{{limits.max}}"
          ng-model-low="o.lower"
          ng-model-high="o.upper"
          ng-model-mid="o.mid"
          buffer="5"
          translate="formatter"
          redraw="redraw">
        </slider>
      </div>
    </div>
    <div class='control-row'>
      <h4>Instrument</h4>
      <input class='form-control' ng-model='keyword' type='text'
      style='height: 25px; width: 150px'></input>
    </div>
    <div class='control-row'>
      <h4>Request</h4>
      <button class='btn btn-xs btn-success' ng-click='makeRequest()'>
        <span class='glyphicon glyphicon-refresh' aria-hidden='true'></span> Request Data
      </button>
    </div> -->