<div ng-controller='SelectionCtrl'>
  
  <h2>Global Hawk Flights</h2>
  <div class="trackable" style="display: inline-block;" ng-repeat="flight in flightList | orderBy:'startTime'"
      ng-click='selectFlight(flight)'
      ng-class="{'selected': flight.selected, 'disabled': !flight.available}">
    <input type='checkbox' 
      ng-model="flight.selected" 
      style="cursor: default"
      ng-disabled="!flight.available"
      >
    {{flight.name}}
    <div class='color-box' style="background-color: {{flight.color}}"></div>
    <div class="date">{{flight.startTime.toLocaleDateString()}}</div>
  </div>

  <h2>Storms</h2>
  <div class="trackable" ng-repeat="storm in stormList"
      ng-click="selectStorm(storm)"
      ng-class="{'selected': storm.selected, 'disabled': !storm.available}">
    <input type="checkbox"
    ng-model="storm.selected"
    ng-disabled="!storm.available"
    >
    {{storm.name}}
    <div class='color-box' style="background-color: {{storm.color}}"></div>
    <div class="date">{{storm.startTime.toLocaleDateString()}}</div>
  </div>
</div>