<div id='results-table' ng-controller='RequestController'>
  <h1> Results </h1>
  <table ng-table="tableParams" show-filter="true" class="table">
    <tr ng-repeat="row in $data">
      <td data-title="'Title'" 
        sortable="'title'" 
        filter="{ 'title': 'text' }">
        {{row.title}}
      </td>
<!--       <td data-title="'Processing Level'" 
        sortable="'processing_level_id'" 
        filter="{ 'processing_level_id': 'text' }">
          {{row.processing_level_id}}
      </td> -->
      <td data-title="'Granule ID'">
        {{row.id}}
      </td>

      <td data-title="'Download'">
        <button class='btn' ng-click="download(row.id)">Download</button>
      </td>
    </tr>
  </table>

<h1> DEBUG </h1>

  <button class='btn' ng-click="download('granny_id')">Download</button>

</div>
